body{
    font-family: monospace;
    padding: 2rem;
    background-color: black;
}

#app{
    color: aliceblue;
}

#app h1{
    background-color: lightseagreen;
    width: max-content;
    
    padding: 1rem;
}

